/* MIXINS */
@mixin button($color) {
	background-color: $color;
	border: 1px solid rgba($color, .05);
	border-radius: 5px;
	padding: .25em 1em;
	color: white;
	box-shadow: 0 3px 0 darken($color, 20%);
	&:hover {
		cursor: pointer;
		background-color: mix(pink, $color, 40%);
	}
}
@mixin titles($title) {
	font-family: 'Lato', Arial, sans-serif;
	text-transform: uppercase;
	color: $title;
}
@mixin subtitles($sub) {
	font-family: 'Montserrat', Arial, sans-serif;
	text-transform: capitalize;
	color: $sub;
}

/* GLOBAL STYLES */
*, *:focus {
	box-sizing: border-box;
  outline: 0;
	outline: none;
}
p {
	font-family: 'Domine', sans-serif
}
nav, div, footer {
	float:left;
	clear:none;
	width: 100%;
}
h1, h2, h3, h4 {
	@include titles(white);
}
button {
	@include subtitles(white);
}
nav {
	z-index: 100;
	background-color: #F3F3F3;
	padding-top: 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			float: right;
			list-style-type: none;
			display: inline-block;
			padding: 15px;
			text-decoration: none;
			color: black;
			border-left: 1px solid lighten(gray, 5%);
			&:hover {
				background-color: white;
			}
		}
	}
}
.rowGame{
	margin-top: -25px;
}
.rowScore{
		position: absolute;
}
#brady {
	background-color: steelblue;
	color: white;
	padding: 4.5px 25px;
	&:hover {
		background-color: lighten(steelblue, 25%);
	}
}
footer {
	background-color: #FFD776;
	height: 150px;
	bottom: 0;
	margin-bottom: -500px;
}
#container {
	text-align: center;
	position: absolute;
	padding: 1.5em;
}
.social {
	height: 30px;
	width: auto;
	display: inline-block;
	margin: 1em;
	&:hover {
		cursor: pointer;
	}
}

/* HOME PAGE */
#hero {
	background-image: url(http://i.huffpost.com/gen/1663671/images/o-BRADY-BUNCH-facebook.jpg);
	-webkit-transform: scaleX(-1);
	filter: FlipH;
	background-size: cover;
	background-position: top;
	width: 100%;
	height: 600px;
	color: steelblue;
	text-align: left;
	font: 30px Georgia, sans-serif;
	position: relative;
	h1 {
		@include titles(steelblue);
		-webkit-transform: scaleX(-1);
		filter: FlipH;
		text-shadow: 3px 3px lightblue;
		top: 0;
		right: 1em;
		position: absolute;
		padding-bottom: 1.5em;
	}
}
#main {
	background-color: #F2F2F2;
	max-height: 600px;
	position: relative;
	text-align: center;
	form {
		display: inline-block;
		vertical-align: text-top;
	}
}
#userLogin {
	background-color: white;
	height: 300px;
	text-align: center;
	clear: both;
	vertical-align: center;
	display: block;
	padding-top: 2em;
}

/* ABOUT US */
#HeaderAbout {
	color: darkorange;
}
.us {
	width: 25%;
	display: inline-block;
	margin: 5em 0;
	a {
		text-decoration: none;
		@include subtitles(orange);
	}
	img {
		border-radius: 150px;
		width: 150px;
		margin-bottom: 20px;
		border: 3px solid orange;
	}
}

/*SCORES*/
#user-input, #user-input-login {
	display: inline-block;
	position: relative;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0 auto;
	width: 20%;
	text-align: center;
	button {
		@include button(steelblue);
		margin: 1em auto;
	}
}
#score-board {
	top: 370px;
	left: 20px;
	position: relative;
	z-index: 1;
	font-size: 1.3em;
	width:30%;
	margin-left:35%;
	margin-right:15%;
	tr {
		th {
			font-family: Sans-Serif;
			color: red;
		}
		td {
			color: white;
		}
	}
}

#tableWrap {
	margin-top: -150px;
	background: url(img/jose-tv.svg);
	position: relative;
	height: 550px;
	img {
		margin: 0 auto;
		height: 120%;
		display: block;
		bottom: 0px;
	}
}

#score-footer {
	margin-top: 150px;
	z-index: -1;
}

#main-score {
	background-color: #FFD776;
	max-height: 600px;
	margin-top: 53px;
	position: relative;
	text-align: center;
}

#score-header {
	background: #FFD776;
	color: steelblue;
}

/*GameTime*/
#boardContainer{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

#gameHeader{
	padding-top: 1em;
	color: #FFD776;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
.rowGame{
	top: 0;
}
#board{
  background: black;
  border:#999 1px solid;
  border-radius: 2%;
  width: 650px;
  height: 535px;
  padding: 24px;
  margin: 0px auto;
}
#board > img{
	border-radius: 5%;
  background-color: none;
  size: 100% 100%;
  position: center;
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 1440px) {
	#containerP{
		width: 50%;
		margin: 0 25%;
	  height: 300px;
  	#aboutInfo{
	  	margin: 3em;
			font-size: 20px;
			line-height: 35px;
			text-align: center;
			color: darkorange;
		}
	}
	#aboutFooter {
		margin-top: 200px;
	}
	#aboutPage {
		background-color: #F2F2F2;
	}
	#hero {
		height: 800px;
	}
	#score-board {
		width: 20%;
		margin-left: 41%;
	}
	#score-footer {
		height: 263px;
	}
	#board{
		margin-bottom: 150px;
	}
}
