nav, div, footer {
	float:left;
	clear:none; 
	width: 100%;
}
nav {
	background-color: gray;
	padding-top: 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			float: right;
			list-style-type: none;
			display: inline-block;
			padding: 15px;
			text-decoration: none;
			color: white;
			&:hover {
				background-color: lighten(gray, 20%);
			}
		}
	}
}
div {
	background-color: steelblue;
	color: white;
	h3 {
		color: white;
		font: Arial, sans-serif;
	}
}
#hero {
	background-color: orange;
	width: 100%;
	height: 300px;
	color: steelblue;
	text-align: center;
	font: 30px Georgia, sans-serif;
}
#main {
	background-color: lighten(orange, 20%);
	height: 400px;
}
footer {
	background-color: gray;
	height: 50px;
}
