/* MIXINS */
@mixin button($color) {
	background-color: $color;
	border: 1px solid rgba($color, .05);
	border-radius: 5px;
	padding: .25em 1em;
	color: white;
	&:hover {
		cursor: pointer;
		background-color: mix(black, $color, 15%);
		border-color: mix(black, $color, 40%);
		background: darken($color, 1.5%);
	  box-shadow: 1px 1px 2px rgba($color, .9);
	}
}
@mixin titles($title) {
	font-family: 'Roboto Slab', Arial, sans-serif;
	text-transform: uppercase;
	color: $title;
}
@mixin subtitles($sub) {
	font-family: 'Roboto Slab', Arial, sans-serif;
	text-transform: capitalize;
	color: $sub;
}

/* GLOBAL STYLES */
* {
	box-sizing: border-box;
}
nav, div, footer {
	float:left;
	clear:none;
	width: 100%;
}
h1, h2, h3, h4 {
	@include titles(white);
}
button {
	@include subtitles(white);
}
nav {
	background-color: #FCCA4D;
	padding-top: 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			float: right;
			list-style-type: none;
			display: inline-block;
			padding: 15px;
			text-decoration: none;
			color: white;
			&:hover {
				background-color: #FFD776;
			}
		}
	}
}
footer {
	background-color: #FFD776;
	height: 100px;
	bottom: 0;
}

/* HOME PAGE */
#hero {
	background-color: orange;
	width: 100%;
	height: 400px;
	color: steelblue;
	text-align: center;
	font: 30px Georgia, sans-serif;
	p {
		@include subtitles(steelblue);
	}
	button {
		@include button(#3370FF);
	}
}
#main {
	background-color: #F2F2F2;
	height: 400px;
	position: relative;
	text-align: center;
	form {
		display: inline-block;
		vertical-align: text-top;
	}
}

/* LAYOUT */
.col-2 {
	position: absolute;
	top: 0;
	float: left;
	vertical-align: center;
	width: 45%;
	height: inherit;
	margin: 5% 0 5% 0;
	background-color: #F8F8F8;
	p {
		padding: 5%;
	}
}

