/* MIXINS */
@mixin button($color) {
	background-color: $color;
	border: 1px solid rgba($color, .05);
	border-radius: 5px;
	padding: .25em 1em;
	color: white;
	box-shadow: 0 3px 0 darken($color, 20%);
	&:hover {
		cursor: pointer;
		background-color: mix(pink, $color, 40%);
	}
}
@mixin titles($title) {
	font-family: 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: $title;
}
@mixin subtitles($sub) {
	font-family: 'Montserrat', Arial, sans-serif;
	text-transform: capitalize;
	color: $sub;
}

/* GLOBAL STYLES */
*, *:focus {
	box-sizing: border-box;
  outline: 0;
	outline: none;
}
p {
	font-family: 'Domine', sans-serif
}
nav, div, footer {
	float:left;
	clear:none;
	width: 100%;
}
h1, h2, h3, h4 {
	@include titles(white);
}
button {
	@include subtitles(white);
}
nav {
	background-color: #F3F3F3;
	padding-top: 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			float: right;
			list-style-type: none;
			display: inline-block;
			padding: 15px;
			text-decoration: none;
			color: black;
			border-left: 1px solid lighten(gray, 5%);
			&:hover {
				background-color: white;
			}
		}
	}
}
#brady {
	background-color: steelblue;
	color: white;
	padding: 4.5px 25px;
	&:hover {
		background-color: lighten(steelblue, 25%);
	}
}
footer {
	background-color: #FFD776;
	height: 200px;
	bottom: 0;
}
#container {
	text-align: center;
	position: absolute;
	padding: 1.5em;
}
.social {
	height: 30px;
	width: auto;
	display: inline-block;
	margin: 1em;
	&:hover {
		cursor: pointer;
	}
}

/* HOME PAGE */
#hero {
	background-image: url(http://i.huffpost.com/gen/2077870/images/o-THE-BRADY-BUNCH-CAST-facebook.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	color: steelblue;
	text-align: center;
	font: 30px Georgia, sans-serif;
	h1 {
		@include titles(steelblue);
		text-shadow: 3px 3px 1px blue;
	}
	p {
		@include subtitles(orange);
		font-size: 0.75em;
	}
}
#main {
	background-color: #F2F2F2;
	max-height: 600px;
	position: relative;
	text-align: center;
	form {
		display: inline-block;
		vertical-align: text-top;
	}
}
#userLogin {
	background-color: white;
	height: 400px;
	clear: both;
	p {
		text-align: center;
		padding-top: 2em;
	}
	#user-input {
		display: block;
		position: relative;
		margin: 0 auto;
		width: 20%;
		text-align: center;
		button {
			@include button(steelblue);
			margin: 1em auto;
		}
	}
}

/* ABOUT US */
.us {
	width: 25%;
	display: inline-block;
	margin-bottom: 5em;
	a {
		text-decoration: none;
		@include subtitles(orange);
	}
	img {
		border-radius: 150px;
		width: 150px;
		margin-bottom: 20px;
		border: 3px solid orange;
	}
}

